@import "utilities";

.container {
  width: 100%;
  height: 100vh;
  background-color: hsl(0deg 0% 96.47%);
  display: flex;
  flex-direction: row;
  top: 20%;
  justify-content: center;

  // @media only screen and (max-width:1230px){
  //   // width: 50%;
  //   // height: 50vh;
  //   // background-color: hsl(0deg 0% 96.47%);
  //   display: flex;
  //   flex-wrap: wrap;
  //   // flex-direction: row;
  //   // top: 20%;
  //   // justify-content: center;
  // }
  .box {
    width: 24rem;
    height: 20rem;
    margin: 0.5rem;

    margin-top: 4rem;
  }
  #box1 {
    img {
      width: 24rem;
      height: 20rem;
      position: relative;
      z-index: 0;
    }

    &::before {
      content: "";
      color: white;
      position: absolute;
      top: 2;
      left: 50;
      width: 24rem;
      height: 20rem;
      background: hsl(197.33deg 77.59% 45.49%);
      opacity: 0.8;
      z-index: 1;
    }

    .caption-part {
      position: relative;
      top: -14rem;
      right: -2rem;
      z-index: 10111;
      font-size: 0.8rem;
      color: white;
      h1 {
        position: relative;
        &:after {
          content: "";
          width: 2ch;
          height: 1px;
          background: white;
          display: block;
        }
      }
      p {
        margin-right: 2rem;
        padding: 1rem;
      }
    }
  }
  #box2 {
    width: 40rem;
    height: 27rem;
    position: relative;
    top: 9%;
    right: 4%;
    background-color: white;
    z-index: 999999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    form {
      padding: 2rem;
.input-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .forms {
    position: relative;
    flex: 0 1 50%;
    padding: 0.5rem 1rem;

    label {
      display: flex;
      font-weight: 800;
    }
    &.msg{
      flex: 0 1 90%;
      .text-area{
        position: relative;

        
      i {
        position: absolute;
        color: #0088cc;
    right: -7px;
    bottom: -5px;
    font-size: 2rem;
    cursor: pointer;
        // @media only screen and (max-width:1230px){
        //   i{
        //     font-size: 2rem;
        //     left: 2rem;
        //   }
        // }
      }

      }
    }
  }
  
}

    }
  }
}
